.top {
    background: url(../Images/dropdown-topbot.png) no-repeat;
    background-position: 0px -24px;
    width: 204px;
    height: 24px;
    top: 6px;
    position: relative;
}

.bot {
    background: url(../Images/dropdown-topbot.png) no-repeat;
    background-position: 0px 0px;
    width: 204px;
    height: 24px;
    bottom: 6px;
    position: relative;
}

.space {
    background: url(../Images/Dropdown-space.png) no-repeat center center;
    height: 20px;
}

.dropbtn {
    text-align: center;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 100;
    margin-left: -2.5%;
}

.dropdown-content a {
    display: none;
    text-decoration: none;
    text-align: center;
    color: #e8ba7f;
}

.navi {
    display: inline-block;
    margin-top: 122;
}

.navi li {
    width: 120;
    height: 50;
    float: left;
}

.navi ul {
    width: 978px;
    height: 50;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 8%;
}

.DropdownShop:hover .dropdown-content {
    background: rgba(0, 0, 0, 0);
}

.DropdownTrade:hover .dropdown-content {
    background: rgba(0, 0, 0, 0);
}

.DropdownEvents:hover .dropdown-content {
    background: rgba(0, 0, 0, 0);
}

.DropdownFourm:hover .dropdown-content {
    background: rgba(0, 0, 0, 0);
}

.DropdownGame:hover .dropdown-content {
    background: rgba(0, 0, 0, 0);
}

.DropdownHome:hover .dropdown-content {
    background: rgba(0, 0, 0, 0);
}