.DropdownShop a {
    background: url(../Images/nav-button-sprite.png) no-repeat;
    background-position: -239px 0px;
    width: 120px;
    height: 50px;
    z-index: 20;
}

.DropdownShop a:hover {
    background: url(../Images/nav-button-sprite.png) no-repeat;
    background-position: -239px -50px;
    width: 120px;
    height: 50px;
    z-index: 20;
    color: #FAE3B9;
}

.DropdownTrade a {
    background: url(../Images/nav-button-sprite.png) no-repeat;
    background-position: -120px -100px;
    width: 85px;
    height: 50px;
    z-index: 20;
}

.DropdownTrade a:hover {
    background: url(../Images/nav-button-sprite.png) no-repeat;
    background-position: -120px -150px;
    width: 85px;
    height: 50px;
    z-index: 20;
    color: #FAE3B9;
}

.DropdownEvents a {
    background: url(../Images/nav-button-sprite.png) no-repeat;
    background-position: 0px 0px;
    width: 85px;
    height: 50px;
    z-index: 20;
}

.DropdownEvents a:hover {
    background: url(../Images/nav-button-sprite.png) no-repeat;
    background-position: 0px -50px;
    width: 85px;
    height: 50px;
    z-index: 20;
    color: #FAE3B9;
}

.DropdownFourm a {
    background: url(../Images/nav-button-sprite.png) no-repeat;
    background-position: -120px 0px;
    width: 85px;
    height: 50px;
    z-index: 20;
}

.DropdownFourm a:hover {
    background: url(../Images/nav-button-sprite.png) no-repeat;
    background-position: -120px -50px;
    width: 85px;
    height: 50px;
    z-index: 20;
    color: #FAE3B9;
}

.DropdownGame a {
    background: url(../Images/nav-button-sprite.png) no-repeat;
    background-position: 0px -100px;
    width: 85px;
    height: 50px;
    z-index: 20;
}

.DropdownGame a:hover {
    background: url(../Images/nav-button-sprite.png) no-repeat;
    background-position: 0px -150px;
    width: 85px;
    height: 50px;
    z-index: 20;
    color: #FAE3B9;
}

.DropdownHome a {
    background: url(../Images/nav-button-sprite.png) no-repeat;
    background-position: -239px -100px;
    width: 120px;
    height: 50px;
    z-index: 20;
}

.DropdownHome a:hover {
    background: url(../Images/nav-button-sprite.png) no-repeat;
    background-position: -239px -150px;
    width: 120px;
    height: 50px;
    z-index: 20;
    color: #FAE3B9;
}

.DropdownShop:hover .dropdown-content {
    display: block;
    top: 155;
    height: 10;
    width: auto;
    background: url(../Images/Dropdown-back.png);
}

.DropdownShop:hover .dropdown-content a {
    display: block;
    top: 155;
    height: 10;
    width: auto;
    background: url(../Images/Dropdown-back.png);
}

.DropdownTrade:hover .dropdown-content {
    display: block;
    top: 155;
    height: 10;
    width: auto;
    background: url(../Images/Dropdown-back.png);
}

.DropdownTrade:hover .dropdown-content a {
    display: block;
    top: 155;
    height: 10;
    width: auto;
    background: url(../Images/Dropdown-back.png);
}

.DropdownEvents:hover .dropdown-content {
    display: block;
    top: 155;
    height: 10;
    width: auto;
    background: url(../Images/Dropdown-back.png);
}

.DropdownEvents:hover .dropdown-content a {
    display: block;
    top: 155;
    height: 10;
    width: auto;
    background: url(../Images/Dropdown-back.png);
}

.DropdownFourm:hover .dropdown-content a {
    display: block;
    top: 155;
    height: 10;
    width: auto;
    background: url(../Images/Dropdown-back.png);
}

.DropdownFourm:hover .dropdown-content {
    display: block;
    top: 155;
    height: 10;
    width: auto;
    background: url(../Images/Dropdown-back.png);
}

.DropdownGame:hover .dropdown-content {
    display: block;
    top: 155;
    height: 10;
    width: auto;
    background: url(../Images/Dropdown-back.png);
}

.DropdownGame:hover .dropdown-content a {
    display: block;
    top: 155;
    height: 10;
    width: auto;
    background: url(../Images/Dropdown-back.png);
}

.DropdownHome:hover .dropdown-content {
    display: block;
    top: 155;
    height: 10;
    width: auto;
    background: url(../Images/Dropdown-back.png);
}

.DropdownHome:hover .dropdown-content a {
    display: block;
    top: 155;
    height: 10;
    width: auto;
    background: url(../Images/Dropdown-back.png);
}