.footer-img {
    background: url(../Images/footer.png) no-repeat;
    width: 964;
    height: 136;
    z-index: 1;
    margin: 0 auto;
    position: relative;
    top: -40px;
    padding-top: 40px;
}

.footer-con {
    border-bottom: 1px solid #2C2C2C;
}

.containtext {
    text-align: left;
    text-decoration: none;
    color: #4d4a45;
    list-style-type: none;
}

.containtext li a {
    color: #4d4a45;
}

.containtext a:hover {
    color: #6d6165;
}

.containtextbox1 {
    position: relative;
    display: inline-block;
    width: 175;
    font-size: 13;
    z-index: 2;
    top: -155;
    left: 50;
}

.containtextbox2 {
    position: relative;
    display: inline-block;
    width: 175;
    font-size: 13;
    z-index: 2;
    top: -285;
    left: 50;
}

.containtextbox3 {
    position: relative;
    display: inline-block;
    width: 175;
    font-size: 13;
    z-index: 2;
    top: -380;
    left: 50;
}

.containtextbox4 {
    position: relative;
    display: inline-block;
    width: 175;
    font-size: 13;
    z-index: 2;
    top: -405;
    left: 50;
}

footer {
    border-top: 2px solid #0F0F0F;
    z-index: 10;
    width: 920;
    margin: 0 auto;
    position: relative;
}

.bold {
    font-weight: bold;
}

h3 {
    color: #4d4a45;
    font-size: 1.em;
}