#green a {
    background: url(../Images/play-free.png) no-repeat;
    background-position: 0px -76px;
    width: 267px;
    height: 76px;
    z-index: 20;
}

#green a:hover {
    background: url(../Images/play-free.png) no-repeat;
    background-position: 0px 0px;
    width: 267px;
    height: 76px;
    z-index: 20;
}

.green {
    display: inline-block;
    margin-top: -5;
    position: relative;
}

.green li {
    width: 267px;
    height: 76px;
}

.green ul {
    width: 267px;
    height: 76px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(63, 41, 41, 0);
    margin-left: 700;
}

#pc a {
    background: url(../Images/platform-button.png) no-repeat;
    background-position: 0px 0px;
    width: 70px;
    height: 29px;
    z-index: 20;
}

#pc a:hover {
    background: url(../Images/platform-button.png) no-repeat;
    background-position: 0px -29px;
    width: 70px;
    height: 29px;
    z-index: 20;
}

#xbox a {
    background: url(../Images/platform-button.png) no-repeat;
    background-position: -0px -87px;
    width: 70px;
    height: 29px;
    z-index: 20;
}

#xbox a:hover {
    background: url(../Images/platform-button.png) no-repeat;
    background-position: -70px -87px;
    width: 70px;
    height: 29px;
    z-index: 20;
}

#playstation a {
    background: url(../Images/platform-button.png) no-repeat;
    background-position: -70px -29px;
    width: 70px;
    height: 29px;
    z-index: 20;
}

#playstation a:hover {
    background: url(../Images/platform-button.png) no-repeat;
    background-position: 0px -58px;
    width: 70px;
    height: 29px;
    z-index: 20;
}

.greenmini {
    display: inline-block;
    margin-top: 0;
}

.greenmini li {
    width: 70px;
    height: 29px;
}

.greenmini ul {
    width: 70px;
    height: 29px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 0;
    background-color: rgb(63, 41, 41, 0);
}

#freeplay {
    margin-left: 700;
    top: -10;
    position: inherit;
}