#Character,
#First-Battle,
#Gems,
#Items,
#Gear,
#Defanse,
#Chapters,
#Trading,
#Commands {
    padding: 10px;
    font-size: 20;
    text-align: center;
}

.container p,
a,
h1 {
    padding-left: 10px;
    text-align: left;
}

.container1 p,
a,
h1 {
    padding-left: 10px;
    text-align: left;
}

.container2 p,
a,
h1 {
    padding-left: 10px;
    text-align: left;
}

.container3 p,
a,
h1 {
    padding-left: 10px;
    text-align: left;
}

.container4 p,
a,
h1 {
    padding-left: 10px;
    text-align: left;
}

.container {
    margin: 0 auto;
    background-color: #0E0E0E;
    display: block;
    color: #dfcf99;
    width: 920;
    height: 300px;
    font-size: 20;
    border-left: 1px solid #2C2C2C;
    border-right: 1px solid #2C2C2C;
    border-bottom: 1px solid #2C2C2C;
    z-index: 2;
}

.container1 {
    margin: 0 auto;
    background-color: #0E0E0E;
    display: block;
    color: #dfcf99;
    width: 920;
    height: 150px;
    font-size: 20;
    border-left: 1px solid #2C2C2C;
    border-right: 1px solid #2C2C2C;
    border-bottom: 1px solid #2C2C2C;
    z-index: 2;
}

.container2 {
    margin: 0 auto;
    background-color: #0E0E0E;
    display: block;
    color: #dfcf99;
    width: 920;
    height: 175px;
    font-size: 20;
    border-left: 1px solid #2C2C2C;
    border-right: 1px solid #2C2C2C;
    border-bottom: 1px solid #2C2C2C;
    z-index: 2;
}

.container3 {
    margin: 0 auto;
    background-color: #0E0E0E;
    display: block;
    color: #dfcf99;
    width: 920;
    height: 225px;
    font-size: 20;
    border-left: 1px solid #2C2C2C;
    border-right: 1px solid #2C2C2C;
    border-bottom: 1px solid #2C2C2C;
    z-index: 2;
}

.container4 {
    margin: 0 auto;
    background-color: #0E0E0E;
    display: block;
    color: #dfcf99;
    width: 920;
    height: 575px;
    font-size: 20;
    border-left: 1px solid #2C2C2C;
    border-right: 1px solid #2C2C2C;
    border-bottom: 1px solid #2C2C2C;
    z-index: 2;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    height: 247;
}

.concon {
    min-width: 1020;
    top: -33;
    position: relative;
}