#twitter {
    background: url(../Images/social-icons.png) no-repeat;
    background-position: -10px -110px;
    height: 20px;
}

#twitter:hover {
    background: url(../Images/social-icons.png) no-repeat;
    background-position: -60px -110px;
    height: 20px;
}

#facebook {
    background: url(../Images/social-icons.png) no-repeat;
    background-position: -10px -10px;
    height: 20px;
}

#facebook:hover {
    background: url(../Images/social-icons.png) no-repeat;
    background-position: -60px -10px;
    height: 20px;
}

#youtbu {
    background: url(../Images/social-icons.png) no-repeat;
    background-position: -160px -60px;
    height: 20px;
}

#youtbu:hover {
    background: url(../Images/social-icons.png) no-repeat;
    background-position: -160px -110px;
    height: 20px;
}

#reddiy {
    background: url(../Images/social-icons.png) no-repeat;
    background-position: -10px -60px;
    height: 20px;
}

#reddiy:hover {
    background: url(../Images/social-icons.png) no-repeat;
    background-position: -60px -60px;
    height: 20px;
}

#grinding-games {
    background: url(../Images/Grinding-game.png) no-repeat;
    height: 86;
    width: 186;
}

.grind-box ul {
    margin: 0 auto;
    position: relative;
}

.so-box ul {
    position: relative;
    margin: 0 auto;
}

.legal {
    color: #3F3D39;
}

.legal a {
    color: #3F3D39;
    text-decoration-line: underline;
}

#legal:hover {
    color: #6D6A65;
}

.legal ul {
    position: relative;
    width: 920;
    display: inline-block;
    margin: 0 auto;
    font-size: 14;
}

#legal1:hover {
    color: #3F3D39;
    text-decoration: none;
}

#legal1 {
    text-decoration: none;
}